table {
	margin: 4px;
	padding: 8px;
}

th, td {
	margin: 4px;
	padding: 12px;

	text-align: left;

	color: #dddddd;
}

th {
	font-family: "Oswald", sans-serif;
	font-size: 26px;
}

td {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}

.events-title {
	text-align: center;

	margin: 72px;

	color: #dddddd;

	font-family: "Oswald", sans-serif;
	font-size: 40px;
}