.photo {
    display: inline;
    vertical-align: top;

    width: 22%;
    height: auto;

    margin: 10px;

    border-radius: 8px;
}

/* Mobile styling */
@media only screen and (max-width: 1280px) {
	.photo {
		width: 95%;
		height: auto;
	}
}