@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Montserrat|Oswald');

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	background-color: #111111
}

#navbar {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;

	padding: 18px;

	text-align: center;

	background-color: #222222;
}

#navbar a {
	display: inline;

	color: white;
	text-decoration: none;

	font-family: "Oswald", sans-serif;
	font-size: 20px;

	margin-left: 16px;
	margin-right: 16px;
}

#navbar #current-page {
	text-decoration: underline;
	color: #eeeeee;
}

#page-title {
	text-align: center;

	margin: 72px;

	color: #aaaaaa;

	font-family: "Oswald", sans-serif;
	font-size: 40px;
}