@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Montserrat|Oswald');

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	background-color: #111111
}

#navbar {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;

	padding: 18px;

	text-align: center;

	background-color: #222222;
}

#navbar a {
	display: inline;

	color: white;
	text-decoration: none;

	font-family: "Oswald", sans-serif;
	font-size: 20px;

	margin-left: 16px;
	margin-right: 16px;
}

#navbar a:hover {
	color: #dddddd;
}

#navbar a:active {
	color: #dddddd;
}

#navbar #current-page {
	text-decoration: underline;
	color: #dddddd;
}

#page-title {
	text-align: center;

	margin: 72px;

	color: #dddddd;

	font-family: "Oswald", sans-serif;
	font-size: 40px;
}

#about {
	width: 1120px;
	margin: 32px;

	color: #aaaaaa;

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: justify;
}

#google-review {
    width: 184px;

	margin: 16px;
    padding: 12px;

    background-image: linear-gradient(#4b84ed, #124299);
    border-radius: 6px;
}

#google-review-link {
	text-decoration: none;
}

#google-review span {
    color: white;
    font-family: "Product Sans", sans-serif;
    font-size: 20px;
}

.hyperlink {
	color: #aaaaaa;

    font-family: inherit;
    font-size: inherit;
}

.hyperlink:hover, .hyperlink:active {
	color: #dddddd;
}