.video {
	display: inline-table;

	width: 560px;
	height: 315px;

	margin: 24px;

	border: 1px solid #555555;
}

.video-small {
	width: 128px;
	height: 72px;
}

/* Mobile styling */
@media only screen and (max-width: 1280px) {
	.video {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}