<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gallery - Podoxin Four</title>

	<link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/gallery.css" />

	<link rel="shortcut icon" href="assets/img/favicon.png" />

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="module" src="js/gallery.js" defer></script>

	<meta charset="utf-8" />
	<meta property="og:type" content="Music Band" />
	<meta property="og:image" content="assets/img/favicon.png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />
	<meta name="Description" content="Smooth funk jazz quartet" />
</head>

<body>
	<div id="navbar">
		<a href="index.html">HOME</a>
		<a href="movie.html">MOVIE</a>
		<a href="music.html">MUSIC</a>
		<a href="gallery.html" id="current-page">GALLERY</a>
		<a href="events.html">EVENTS</a>
		<a href="contact.html">CONTACT</a>
	</div>

	<img src="assets/img/navbar.png" id="navbar-button" />

	<br />

	<span id="navbar-spacer"></span>

	<h1 id="page-title">Gallery</h1>

	<center>
		<span id="modalbg">
			<img src="assets/img/modal/close.png" width="40px" height="40px" id="close" />
			<img src="assets/img/modal/prev.png" width="40px" height="40px" id="prev" />
			<img src="assets/img/modal/next.png" width="40px" height="40px" id="next" />
		</span>

		<img id="modal" />

		<div id="gallery">
			<img v-if="!isLoaded" src="assets/img/Loading.gif" width="32" height="32" id="loading-indicator" />
			<img v-for="(img, index) in images" :src="img" :index="index" @click="OpenModal(index)" class="photo">
		</div>

		<br />

		<a href="#navbar" id="about" class="hyperlink">Back to top</a>
	</center>
</body>

</html>