#modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;

	background-color: rgba(40, 40, 40, 0.7);
}

#modalImage {
	max-width: 80vw;
	max-height: 95vh;

	border-radius: 8px;
}

#closeButton {
	position: fixed;
	top: 0;
	right: 0;

	margin: 16px;
}
