.tab {
    display: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

    padding: 8px;
}

#generated-json {
    border: none;
    resize: none;
    color: white;
}